@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is just a test site and no information is stored about the user.  The only stored information is last updated file that is done as part of the persistent volume check.</p>
